/* common share style */
body {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Work Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

/* navber style */
.nav-container {
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 130px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;



}

.logo-container {
    display: flex;
    margin-left: 60px;
    gap: 20px;

}

.logo-container p {
    /* text-align: center; */
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
    width: 150%;
    height: 53px;
    margin-top: 39px;
    margin-bottom: 39px;
    margin-right: 120px;




}

.game {
    color: rgb(255, 66, 165);
}

.logo-container img {
    width: 86%;
    /* height: 40px; */
    object-fit: contain;
    margin-top: 44px;
    margin-bottom: 46px;
}

.nav-items-container {

    display: flex;
    /* justify-content: center; */
    align-items: center;


}




.test {

    
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
   text-align: center;
    width:100px;
    height: 40px;
    margin: 0px 30px 0px 100px;
    padding-bottom: 56px;
    


}

.test2 a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 55px;
    width: 18px 21px;
    margin-right: 32px;
    /* margin-left: 150px; */

}





.btn-container {
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    width: 82%;
    height: 56px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 40px;
    margin-bottom: 37px;
    margin-right: 120px;

}


button>p {
    color: #3C354F;
    text-align: center;
    display: inline;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    margin: 17px 19px 18px 16px;
}

.nav-btn {
    width: 33.916px;
    height: 24px;
    margin-right: 16px;

}

.nav-btn2 {
    width: 24px;
    height: 24px;
    margin-right: 24.8px;

}

/* banner style */

.frame1 {
   display: flex;
   gap:12px;
}

.frame1 img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    margin-top: 19px;
    margin-bottom:12px;
}

.frame1 p {
    color: #534C64;
    /* text-align: center; */
    font-size: 18px;
    font-weight: 500;
}


.frame2 {
    display: flex;
    gap: 12px;
    margin: 0;

}

.frame2 img {
    width: 24px;
    height: 24px;
    margin-bottom: 20px;
}

.frame2 p {
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
    margin:0;
}

.frame3 {
    display: flex;
    gap: 12px;
    padding: 0;
}

.frame3 img {
    width: 24px;
    height: 24px;
   
}

.frame3 p {
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    

}

.banner-descript {
    margin-left: 44px;
}

.banner-container {
    display: flex;
    gap: 60px;
    


}
.banner-img
{
    margin-top: 20px;
    height: 500px;
    width:100%;
    
}

.banner-text {
    background-image: url('../images/Group\ 14.png');
    background-repeat:no-repeat;
    background-position: 100%;
    width: 60%;
    /* height: 500px; */
    margin-top: 0;
    margin-left: 0;
    /* margin-right: 68px; */
    align-items: center;
}

.banner-text h2 {
color: #0B0223;
font-size: 48px;
font-weight: 600;
margin-top: 70px;
margin-left: 50px;
margin-bottom: 0;
}

.banner-container h1 {

font-size: 95px;
font-weight: 800;
margin-top: 0;
margin-left: 44px;
margin-bottom: 0;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}



.banner-btn {
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
margin-left: 44px;
border: 0;
color: #FFF;
font-size: 20px;
font-weight: 600;
margin-right: 24px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.banner-btn2 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    margin-top: 25px;
    border: 0;
}


/* main section style */


.main-section-head  h3{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 0;
    
}
.main-section-head p{
    color: #534C64;
font-size: 18px;
font-weight: 400;
margin-bottom: 120px;
text-align: center;


}
.main-section-head{
   /* width: 100%; */
  
   
}
.main-section-container{
    width: 100%;
    
    /* margin: 0 auto; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    gap:30px;
    
    

}
.section-img img{
    
    width: 150px;
  
border-radius: 16px;
}


.section-img p{
    
    color: #534C64;
font-size: 13px;
font-weight: 500;
text-align: start;
margin:24px 0px 0 0;
/* justify-content: space-between; */
padding:0 ;
width:150px;

}



.header-change{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 48px;
font-weight: 700;
}

.main-section-head{
    align-items: center;
}

/* section style */
.section-text {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #0B0223;
    font-weight: 700;
    margin-bottom: 14px;
    margin-top: 300px;


}

.text-change {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-descrip {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
}

.section-head {
    margin-left: 150px;

    /* margin-right: 250px; */



}

.section-container {
    display: flex;
    justify-content: space-between;

}


.parent {
    position: relative;
    width: 50%;
    height: auto;


}

.image1 {
    position: relative;
    width: 69%;
    height: 500px;
    border-radius: 8px;
    background: url('../images/Rectangle\ 55.png'),
        lightgray -7.583px 0px / 102.389% 100% no-repeat;
    margin-top: 120px;
    margin-left: 100px;

}

.image2 {
    position: absolute;
    bottom: -60px;
    /* right:0; */
    left: 20px;
    width: 200px;
    height: 275px;
    border-radius: 8px;
    border: 5px solid #FFF;
    background: url('../images/Rectangle\ 66.png'), lightgray 0px -0.304px / 100% 117.229% no-repeat;

}


/* section 2 style */

.section2-container{
width: 100%;
height: 600px;
background-color:rgb(250, 240, 245);

display: flex;

justify-content: center;
align-items:center;
flex-wrap:wrap;

border: 2px solid black;
margin-top: 100px;

}
.row{
    display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  margin-left: 15px;
  margin-right: 16px;
  padding-top: 0px;
  color: #0B0223;
font-size: 20px;
font-weight: 600;

}
.second-row{
    display: flex;
  justify-content: center;
  gap:15px;
  margin-left: 90px;
  margin-right: 40px;
  padding-top: 30px;
  color: #0B0223;
font-size: 20px;
font-weight: 600;
}
.btn-section2:hover{
    /* color: rgb(255, 66, 165); */
    border: 1px solid  rgb(255, 66, 165);
    border-radius: 50px;
    background-color: #FFF;
    
}
.btn-section2:hover p{
    color: rgb(255, 66, 165);
}


.btn-section2 {
    border-radius: 50px;
background-color: #FFF;
display: flex;
align-items: center;
justify-content: center;
border:1px solid transparent;
gap:16px;
padding-left: 10px;
padding-right: 12px;
/* height: 70px; */

}
.btn-section2 p{
    color: #0B0223;
font-size: 20px;
font-weight: 600;

}





/* footer style */


footer {
    width: 100%;
    height: 600px;
    margin-top: 0px;
    
    background-color: #0B0223;
    
}

.footer-head {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 45px;
    font-weight: 700;
    gap: 20px;

}

.footer-head p {
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
    margin-top: 100px;

}

.footer-head img {
    margin-top: 50px;
}

.footer-list ul {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 30px;
}

.footer-list li {
    list-style: none;
}

.social-link {
    /* width:40px; */
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;


}

.paragraph {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 70px;

}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 100px;
}