/* mobile device */

@media screen and(max-width:576px) {
    .nav-container{
       background-color:  black;
       width: 425%;
    flex-direction:column;
    align-items: center;
    justify-content: center;

    }
}