/* mobile device */

@media screen and (max-width:576px) {
    .nav-container {
        background-color: 0;
        width: 100%;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */


    }

    .logo-container {
        display: flex;
        width: 100%;
        margin-left: 390px;
        margin-top: 50px;
        gap: 20px;
        align-items: center;

    }

    .logo-container p {
        font-size: 42px;
    }

    .nav-items-container {

        display: flex;
        flex-direction: column;
        margin-left: 240px;
        /* padding-left: 0cap; */



    }

    .test {
        text-align: center;
        margin-right: 100px;

        font-size: 15px;
    }

    .test2 {
        margin-left: 30px;
        padding-top: 20px;
        text-align: center;
    }

    .btn-container {
        margin-left: 40px;
    }

    .banner-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }

    .banner-img {
        margin-top: 300px;
        height: 500px;
        width: 600px;
        margin-left: 300px;
    }

    .banner-text {
        background-position: 100%;
        width: 650px;
        height: 500px;
        margin-top: 0;
        margin-left: 400px;
        /* margin-right: 68px; */
        align-items: center;
    }

    .banner-btn2 {
        margin-bottom: 20px;
    }

    .main-section-head h3 {
        color: #0B0223;
        font-size: 45px;
        font-weight: 700;
        margin-top: 50px;
        margin-left: 250px;
        /* margin-bottom: 0; */
        padding-top: 0;
        text-align:justify;
        
        
       

    }
    .main-section-head p
    {
        margin-left: 200px;
        padding-left: 20px;
        text-align: justify;
    }
.main-section-container {

    margin-left: 100px;
    flex-direction: column;
    width: 100%
}
.section-img img{
    width: 400px;
}
.section-img p{
    font-size: 20px;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}
.section-text{
    text-align: center;
    
}



.section-container{
    flex-direction: column;
}
.image1{
    width: 400px;
    margin-left: 200px;
}
.image2{
   left:120px;
}
.row{
    width: 700px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3,100px);
    background-color:none;
}
footer{
    
    width: 700px;
    height: 800px;
}

.footer-list ul{
    display: grid;
    grid-template-columns: repeat(3,25px);
    column-gap: 150px;
    margin-right: 55px;
}
.social-link{
    display: grid;
    grid-template-columns: repeat(3,80px);
}
.paragraph{
    display: grid;
    grid-template-columns: repeat(2,35px);
    margin-top: 10px;
    column-gap: 150px;
    
}
#copy{
    content: "\a";
    white-space: pre;
} 


}